* {
  background-color: #1D1D1D;
  font-family: 'JetBrains Mono';
  font-size: 16px;
}

.modules-left,
.modules-right,
.modules-center {
  color: #DBDBDB;
}

#tray,
#network,
#pulseaudio {
  margin-right: 16px;
}