* {
  background-color: #0b0e10;
  font-family: 'JetBrains Mono';
  font-size: 16px;
}

.modules-left,
.modules-right,
.modules-center {
  color: #b9c3ca;
}


#workspaces button.active {
  color: #feffff;
  background: none;
}

#workspaces button:not(.active):not(.visible) {
  color: #6e808a;
  background: none;
}

#tray,
#network,
#pulseaudio {
  margin-right: 16px;
}