* {
  border: none;
  font-family: Maple Mono NF CN;
  font-weight: 800;
  font-size: 18px;
  min-height: 0;
}

window#waybar {
  background: none;
  margin: 0px;
  padding: 0px;
}

tooltip {
  background: rgba(18, 18, 18, 0.76);
  border-radius: 8px;
  border-width: 2px;
  border-style: solid;
  border-color: #F6D496;
  color: #ddca9e;
}

#window,
#taskbar,
#tags,
#clock,
#pulseaudio,
#bluetooth,
#network,
#workspaces,
#tray,
#custom-clipboard,
#custom-power {
  background: none;
  padding: 0px 10px;
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 0px;
}

#tags {
  border-radius: 8px;
  border-width: 2px;
  border-style: solid;
  border-color: #F6D496;
  margin-left: 4px;
  padding-left: 10px;
  padding-right: 6px;
  background: rgba(18, 18, 18, 0.76);

}

#tags button {
  border: none;
  transition-duration: 0.3s;
  background: none;
  box-shadow: inherit;
  text-shadow: inherit;
  color: #928374;
  padding: 1px;
  padding-left: 1px;
  padding-right: 1px;
  margin-right: 4px;
}

#tags button {
  color: #928374;
}

#tags button:not(.occupied):not(.focused) {
  font-size: 0;
  min-width: 0;
  min-height: 0;
  margin: -17px;
  padding: 0;
  color: transparent;
  background-color: transparent;
}

#tags button.occupied {
  color: #ddca9e;
}

#tags button.overview {
  color: #ddca9e;
}

#tags button:hover {
  color: #d79921;
}

#tags button.focused {
  background-color: transparent;
  color: #eb984a;
  border-radius: 7px;
}

#tags button.urgent {
  background-color: #ef5e5e;
  color: #282828;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 1px;
  padding-bottom: 0px;
  border-radius: 7px;
}

#tray {
  background: rgba(18, 18, 18, 0.76);
  border-radius: 8px;
  border-width: 2px;
  border-style: solid;
  border-color: #F6D496;
  margin-right: 4px;
  margin-left: 4px;
  padding-right: 8px;
  padding-left: 9px;
  padding-top: 2px;
  color: #ddca9e;
}

#workspaces {
  background: rgba(18, 18, 18, 0.76);
  border-radius: 8px;
  border-width: 2px;
  border-style: solid;
  border-color: #F6D496;
  margin-left: 4px;
  padding-right: 6px;
  padding-left: 4px;
}

#window {
  background: rgba(18, 18, 18, 0.76);
  border-width: 2px;
  border-style: solid;
  border-color: #F6D496;
  border-radius: 8px;
  margin-left: 0px;
  margin-right: 10px;
  color: #eb984a;
}

#taskbar {
  background: rgba(18, 18, 18, 0.76);
  border-width: 2px;
  border-style: solid;
  border-color: #F6D496;
  border-radius: 8px;
  margin-left: 4px;
  margin-right: 10px;
  color: #ddca9e;
}

#taskbar.empty {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 10px;
  padding-right: 0px;
  border-radius: 0px;
  border-color: transparent;
  border: none;
  background-color: transparent;
}

#taskbar button {
  margin-right: 3px;
}

#taskbar button.minimized {
  background-color: #709d1c;
  color: #282828;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 7px;
}

#taskbar button.urgent {
  background-color: #ce3d0d;
  color: #282828;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 7px;
}

#taskbar button.active {
  background-color: #ddca9e;
  color: #282828;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 7px;
}

#clock {
  background: rgba(18, 18, 18, 0.76);
  color: #eb984a;
  border-width: 2px;
  border-style: solid;
  border-color: #F6D496;
  border-radius: 8px 8px 8px 8px;
}

#pulseaudio {
  background: rgba(18, 18, 18, 0.76);
  color: #ddca9e;
  border-width: 2px;
  border-style: solid;
  border-color: #F6D496;
  border-right: 0px;
  border-left: 0px;
  margin-left: 0px;
  border-radius: 0px 0px 0px 0px;
}

#bluetooth  {
  background: rgba(18, 18, 18, 0.76);
  color: #ddca9e;
  border-width: 2px;
  border-style: solid;
  border-color: #F6D496;
  border-right: 0px;
  border-left: 0px;
  border-radius: 0px;
  padding-left: 17px;
}

#network {
  background: rgba(18, 18, 18, 0.76);
  color: #ddca9e;
  border-width: 2px;
  border-style: solid;
  border-color: #F6D496;
  border-radius: 0px 8px 8px 0px;
  border-left: 0px;
  margin-right: 4px;
  padding-right: 17px;
}

#custom-clipboard {
  background: rgba(18, 18, 18, 0.76);
  color: #ddca9e;
  border-width: 2px;
  border-style: solid;
  border-color: #F6D496;
  border-radius: 8px 0px 0px 8px;
  border-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 8px;
}

#custom-power {
  background: rgba(18, 18, 18, 0.76);
  color: #ddca9e;
  border-width: 2px;
  border-style: solid;
  border-color: #F6D496;
  border-radius: 8px 8px 8px 8px;
  margin-left: 4px;
  margin-right: 4px;
  padding-right: 14px;
}